.destination {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.key-icon {
  animation: float 2s infinite ease-in-out;
  filter: drop-shadow(0 0 5px rgba(255, 183, 3, 0.5));
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}